{{- $destination := .Values.release.destination | default (printf "registry-service.kind-registry/released-%s" .Values.applicationName) }}
{{- $pipelineUrl := .Values.release.pipeline.url | default .Values.repositoryUrl }}
{{- $ociStorage := .Values.release.trustedArtifacts.ociStorage }}
apiVersion: appstudio.redhat.com/v1alpha1
kind: ReleasePlanAdmission
metadata:
  name: {{ .Values.applicationName }}-release-admission
  namespace: {{ .Values.release.targetNamespace }}
spec:
  applications:
    - {{ .Values.applicationName }}
  origin: {{ .Values.namespace }}
  environment: {{ .Values.release.environment }}
  policy: {{ .Values.release.policyName }}
  pipeline:
    serviceAccountName: {{ .Values.release.serviceAccount }}
    pipelineRef:
      resolver: git
      params:
        - name: url
          value: {{ $pipelineUrl }}
        - name: revision
          value: {{ .Values.release.pipeline.revision }}
        - name: pathInRepo
          value: {{ .Values.release.pipeline.pathInRepo }}
      ociStorage: {{ $ociStorage }}
    taskRunSpecs:
      - pipelineTaskName: verify-conforma
        computeResources:
          requests:
            memory: 512Mi
            cpu: 250m
          limits:
            memory: 1Gi
  data:
    mapping:
      defaults:
        pushSourceContainer: false
      components:
        - name: {{ .Values.applicationName }}
          repository: {{ $destination }}
          tags:
            - latest
            - "{{ "{{" }} git_sha {{ "}}" }}"
